.form {
    max-width: 344px;
    margin: 130px auto;
}

.form__fieldset {
    background-color: #fcfbfb;
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px hsl(0, 0%, 50%);
}

.form__legend {
    padding: 8px;
    background-color: #eb3d3d;
    color: white;
    font-size: 17px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px hsl(0, 81%, 26%);
}

.form__paragraph {
    margin: 3px;
}

.form__field {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 6px;
    width: 100%;
    box-shadow: 1px 1px 3px #706f6f;
    text-align: center;
    background-color: #eee;
    margin: 3px 0;
}

.form__field--input {
    background-color: white;
    margin-right: 5px;
    max-width: 150px;
}

.form__field--labelText {
    display: inline-block;
    margin-right: 6px;
    max-width: 80px;
}

.form__field--select {
    max-width: 65px;
    padding: 5px;
    cursor: pointer;
}

.form__field--select:hover {
    background-color: hsl(0, 0%, 85%);
}

.form__field--rate {
    display: inline-block;
    max-width: 223px;
}

.form__field--result {
    background-color: #eb3d3d;
    box-shadow: 1px 1px 3px hsl(0, 81%, 26%);
    color: white;
    border: none;
    display: inline-block;
    max-width: 223px;
}