html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    padding: 0 20px;
    background-image: url(https://i.postimg.cc/rmzMFvd3/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}